<link rel="stylesheet" href="/public/css/profile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/public/css/site.css">  
<div class="header">  <!-- header -->
    <a class="header-nav" onclick="openNav()" href="javascript:void(0);"><i class="fa fa-bars"
            style="font-size: 1.5em;"></i></a>

    <a href="/posts" class="header-title">Stevens Collaboration Platform</a>

    <div class="search-container">
        <form id="search" class="search-form">  <!-- search form-->
            <label class="search-label" id="searchLabel" for="searchTerm">
                <input type="text" id="searchTerm" name="searchTerm" class="form-control" style="width: 400px;" placeholder="Search for title of posts">
            </label>
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </form>
    </div>

    <div class="header-right">
        <a href="/user/{{userId}}/profile" title="My Account">
            <img src="https://www.w3schools.com/w3images/avatar2.png" class="circle" style="height:30px;width:30px"
                alt="Avatar">
        </a>

        <a href="/logout" title="Log Out" class="sign-out-button">
            <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 1.5em;"> </i>
        </a>
    </div>
</div>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/auth">Home</a>
    <hr class="hr">
    <a href="/posts">Dashboard</a>
    <hr class="hr">
    <a href="/user/{{userId}}/profile">Profile</a>

</div>  <!-- header End -->

<div class="post-container">
  <div id="create-card" class="">
    <link rel="stylesheet" href="/public/css/dashboard.css">

    <div class="profile-card"><br>

        <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="profile-image " style="
            width:100px">

        <h4>{{USERNAME}}</h4>
        <span>{{MAJOR}}</span>
        <h6>Graduating in {{GRADYEAR}}</h6>
        <br>
    </div>
  </div>

    <div id="main-posts">
        <h4>My posts</h4>
        <hr class="hr-create"> <!-- a single post record goes here -->
        {{#each postItems}}
            {{> postCards}}
        {{/each}}
    </div>

  <div id="post" hidden></div>

</div>