<link rel="stylesheet" href="/public/css/dashboard.css">
{{#each results}}
<div class="post-cards"><br>
    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="avatar-image" style="width:60px">

    <h4>{{title}}</h4>
    <span>Posted on {{formattedDate postTime}} by {{userName}}</span><br>
    <hr>
    <p>{{postContent}}</p>
    <div class="chip-container">
        {{#each tags}}
        <div class="chip">
            {{this}}
        </div>
        {{/each}}

    </div>
    <hr>
    <div class="card-actions">
        <button type="button" class="card-actions-button"><i class="fa fa-thumbs-up"></i>
            Like</button>
        <button type="button" class="card-actions-button"><i class="fa fa-comment"></i>
            Comment</button>
    </div>
</div>
{{/each}}