<link rel="stylesheet" href="/public/css/login.css">


<div class="text-center">

    <h1 class="h3 mb-3 font-weight-normal">Create An Account</h1>

    <form id="register-form" class="form-signin" method="post" action="/user/create">

        <div class="form-label-group">
            <label for="userName" class="sr-only">UserName</label>
            <input type="text" class="form-control box" id="userName" name="userName" placeholder="userName"
                value="{{userName}}" required autofocus>
        </div>
        <div class="form-label-group">
            <label for="email" class="sr-only">Email</label>
            <input type="email" class="form-control box" id="email" name="email" placeholder="email" value="{{email}}"
                required autofocus>
        </div>
        <div class="form-label-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control box" id="password" name="password" placeholder="something.."
                value="{{password}}" required autofocus>
        </div>
        <div class="form-label-group">
            <label for="nickName" class="sr-only">Nickname</label>
            <input type="text" class="form-control box" id="nickName" name="nickName" placeholder="nickName"
                value="{{nickName}}" required autofocus>
        </div>
        <div class="form-label-group">
            <label for="major" class="sr-only">Major</label>
            <input type="text" class="form-control box" id="major" name="major" placeholder="major" value="{{major}}"
                required autofocus>
        </div>
        <div class="form-label-group">
            <label for="gradYear" class="sr-only">Graduating Year</label>
            <input type="number" class="form-control box" id="gradYear" name="gradYear" placeholder="gradYear"
                value="{{gradYear}}" required autofocus>
        </div>

        {{#if hasErrors}}
        <div class="form-group">
            <div class="alert alert-danger">
                <ul class="error-list">
                    {{#each errors}}
                    <li>
                        {{this}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/if}}

        <div class="form-group alert alert-danger" id="error-container" hidden>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

        <p>Already have an account? <a href="/auth">Log In</a></p>
        {{!-- <input name='_method' value="PUT" hidden /> --}}
    </form>
</div>